#d-goals {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}
#d-goals .h3 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
#d-goals .hours {
  margin-top: 40px;
}

#d-goals .hours small {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

#d-goals .progress {
  height: 26px;
  border-radius: 50px;
  margin-top: 10px;
  background-color: rgb(248, 245, 245);
}

#d-goals .earn h3 {
  margin-top: 40px;
}
#d-goals .earn-pa {
  margin-top: 50px;
}

#d-goals .earn-pa small {
  color: #000;
  font-family: "Poppins", sans-serif;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 140px;
  display: block;
  transform: translateY(-76px);
}

#d-goals .ranking button {
  font-family: "Poppins", sans-serif;

  height: 41px;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

#d-goals .ranking .active button {
  color: white;
  background-color: #df5411;
}

#d-goals .ranking .btn-tabs {
  margin-top: 32px;
}
#d-goals .ranking .r-box {
  margin-top: 70px;
}
#d-goals .rank-1 button {
  margin-top: 30px;
  border-radius: 0;
  width: 200px;
  padding: 5px 15px;
  color: #592113;
  font-family: "Montserrat", "sans-serif";
  font-size: 15.449px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

#d-goals .rank-1 .number {
  color: #592113;
  font-family: "Montserrat", "sans-serif";
  font-size: 19.542px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: default;
}
#d-goals .rank-1 {
  width: 350px;
  color: #592113;
}

#d-goals .rf-btn {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  width: 13px;
  transform: translateX(10px);
  cursor: default;
}

#d-goals .rf-btn-2 {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;

  color: #fff !important;
  font-family: "Montserrat", "sans-serif" !important;

  font-size: 19.542px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal;
  cursor: default;
}
#d-goals .id span {
  color: #592113;
  font-family: "Montserrat", "sans-serif" !important;
  font-size: 19.542px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#d-goals .rank-1 .active {
  background-color: #df5411 !important;
}

#d-goals .ranking .number {
  background-color: #df5411;
}

@media only screen and (max-width: 767px) {
  #d-goals .rank-1 {
    width: 100%;
    color: #592113;
  }
  #d-goals .btn-tab button {
    width: 31%;
  }
  #d-goals .rank-1 button {
    width: 200px;
  }
}
