/* background: url(/assets/groupline.png); */
#fullpath {
  width: 400px;
  height: 3000px;
  background-repeat: no-repeat;

  position: relative;
  margin-top: 130px;
}

.fill-color path {
  fill: #df5411;
}

.processh2 {
  color: #df5411 !important;
}

@media only screen and (max-width: 767px) {
  #fullpath {
    margin-top: 220px;
  }
}
@media only screen and (max-width: 480px) {
  #fullpath .cmt svg {
    width: 60px;
  }
  #fullpath svg {
    width: 8px;
  }
  #fullpath {
    width: 210px;
    height: 3000px;
    background-repeat: no-repeat;
    margin-top: 200px;
    position: relative;
    background-size: 100%;
    margin-top: 190px;
  }
}
