#blessings2 {
  position: relative;
}

#blessings2 path {
  fill: #000;
}

#blessings2 .svg-1 {
  position: absolute;
  top: 683px;
  left: 14px;
}

#blessings2 .svg-2 {
  position: absolute;
  top: 712px;
  left: 28px;
}

#blessings2 .svg-3 {
  position: absolute;
  top: 732px;
  left: 55px;
}

#blessings2 .svg-4 {
  position: absolute;
  top: 738px;
  left: 85px;
}

#blessings2 .svg-5 {
  position: absolute;
  top: 738px;
  left: 120px;
}

#blessings2 .svg-6 {
  position: absolute;
  top: 738px;
  left: 154px;
}

#blessings2 .svg-7 {
  position: absolute;
  top: 738px;
  left: 190px;
}

#blessings2 .svg-8 {
  position: absolute;
  top: 738px;
  left: 218px;
}

#blessings2 .svg-9 {
  position: absolute;
  top: 738px;
  left: 257px;
}

#blessings2 .svg-10 {
  position: absolute;
  top: 738px;
  left: 289px;
}

#blessings2 .svg-11 {
  position: absolute;
  top: 743px;
  left: 324px;
}

#blessings2 .svg-12 {
  position: absolute;
  top: 765px;
  left: 357px;
}

#blessings2 .svg-13 {
  position: absolute;
  top: 785px;
  left: 330px;
}
