#gt-news2 {
  position: relative;
}
/* #gt-news2 path {
  fill: #df5411;
} */
#gt-news2 h2 {
  color: black;
  position: absolute;
  top: 285px;
  left: 105px;
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

#gt-news2 .svg-1 {
  position: absolute;
  top: 343px;
  left: 26px;
}
#gt-news2 .svg-2 {
  position: absolute;
  top: 363px;
  left: 54px;
}

#gt-news2 .svg-3 {
  position: absolute;
  position: absolute;
  top: 373px;
  left: 88px;
}

#gt-news2 .svg-4 {
  position: absolute;
  top: 373px;
  left: 120px;
}
#gt-news2 .svg-5 {
  position: absolute;
  top: 373px;
  left: 160px;
}

#gt-news2 .svg-6 {
  position: absolute;
  top: 373px;
  left: 190px;
}

#gt-news2 .svg-7 {
  position: absolute;
  top: 373px;
  left: 230px;
}

#gt-news2 .svg-8 {
  position: absolute;
  top: 373px;
  left: 260px;
}

#gt-news2 .svg-9 {
  position: absolute;
  top: 373px;
  left: 290px;
}

#gt-news2 .svg-10 {
  position: absolute;
  top: 373px;
  left: 302px;
}

#gt-news2 .svg-11 {
  position: absolute;
  top: 381px;
  left: 332px;
}

#gt-news2 .svg-12 {
  position: absolute;
  top: 400px;
  left: 360px;
}

#gt-news2 .svg-13 {
  position: absolute;
  top: 430px;
  left: 335px;
}

@media only screen and (max-width: 480px) {
  #gt-news2 h2 {
    top: 150px;
    left: 45px;

    font-size: 13px;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #gt-news2 .svg-1 {
    position: absolute;
    top: 178px;
    left: 16px;
  }

  #gt-news2 .svg-2 {
    position: absolute;
    top: 189px;
    left: 31px;
  }
  #gt-news2 .svg-3 {
    position: absolute;
    top: 193px;
    left: 49px;
  }
  #gt-news2 .svg-4 {
    position: absolute;
    top: 193px;
    left: 67px;
  }
  #gt-news2 .svg-5 {
    position: absolute;
    top: 193px;
    left: 87px;
  }
  #gt-news2 .svg-6 {
    position: absolute;
    top: 193px;
    left: 105px;
  }
  #gt-news2 .svg-7 {
    position: absolute;
    top: 193px;
    left: 123px;
  }
  #gt-news2 .svg-8 {
    position: absolute;
    top: 192px;
    left: 142px;
  }
  #gt-news2 .svg-9 {
    position: absolute;
    top: 192px;
    left: 158px;
  }
  #gt-news2 .svg-10 {
    position: absolute;
    top: 192px;
    left: 162px;
  }
  #gt-news2 .svg-11 {
    position: absolute;
    top: 197px;
    left: 178px;
  }
  #gt-news2 .svg-12 {
    position: absolute;
    top: 207px;
    left: 193px;
  }

  #gt-news2 .svg-13 {
    position: absolute;
    top: 207px;
    left: 175px;
  }
}
