#gt-news {
  position: relative;
}

/* #gt-news path {
  fill: #df5411;
} */

#gt-news h2 {
  color: black;
  position: absolute;
  top: 90px;
  left: 75px;
}
#gt-news h2 a {
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

#gt-news .svg-1 {
  position: absolute;
  left: 362px;
  top: 161px;
}

#gt-news .svg-2 {
  position: absolute;
  left: 332px;
  top: 181px;
}

#gt-news .svg-3 {
  position: absolute;
  left: 294px;
  top: 190px;
}

#gt-news .svg-4 {
  position: absolute;
  left: 294px;
  top: 190px;
}

#gt-news .svg-5 {
  position: absolute;
  left: 260px;
  top: 190px;
}

#gt-news .svg-6 {
  position: absolute;
  left: 226px;
  top: 190px;
}

#gt-news .svg-7 {
  position: absolute;
  left: 190px;
  top: 190px;
}

#gt-news .svg-8 {
  position: absolute;
  left: 165px;
  top: 189px;
}

#gt-news .svg-9 {
  position: absolute;
  left: 155px;
  top: 189px;
}

#gt-news .svg-10 {
  position: absolute;
  left: 122px;
  top: 189px;
}

#gt-news .svg-11 {
  position: absolute;
  left: 95px;
  top: 189px;
}

#gt-news .svg-12 {
  position: absolute;
  left: 85px;
  top: 189px;
}

#gt-news .svg-13 {
  position: absolute;
  left: 55px;
  top: 198px;
}

#gt-news .svg-14 {
  position: absolute;
  left: 28px;
  top: 218px;
}

#gt-news .svg-15 {
  position: absolute;
  left: -10px;
  top: 250px;
}

@media only screen and (max-width: 480px) {
  #gt-news h2 {
    color: black;
    position: absolute;
    top: 45px;
    left: -24px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #gt-news h2 a {
    font-size: 13px;
  }
  #gt-news .svg-1 {
    position: absolute;
    top: 82px;
    left: 190px;
  }
  #gt-news .svg-2 {
    position: absolute;
    top: 90px;
    left: 178px;
  }

  #gt-news .svg-3 {
    position: absolute;
    top: 95px;
    left: 159px;
  }
  #gt-news .svg-4 {
    position: absolute;
    top: 95px;
    left: 142px;
  }
  #gt-news .svg-5 {
    position: absolute;
    top: 95px;
    left: 140px;
  }
  #gt-news .svg-6 {
    position: absolute;
    top: 95px;
    left: 123px;
  }
  #gt-news .svg-7 {
    position: absolute;
    top: 95px;
    left: 103px;
  }
  #gt-news .svg-8 {
    position: absolute;
    top: 95px;
    left: 90px;
  }
  #gt-news .svg-9 {
    position: absolute;
    top: 95px;
    left: 85px;
  }
  #gt-news .svg-10 {
    position: absolute;
    top: 95px;
    left: 67px;
  }
  #gt-news .svg-11 {
    position: absolute;
    top: 95px;
    left: 45px;
  }
  #gt-news .svg-12 {
    position: absolute;
    top: 95px;
    left: 50px;
  }
  #gt-news .svg-13 {
    position: absolute;
    top: 99px;
    left: 28px;
  }
  #gt-news .svg-14 {
    position: absolute;
    top: 109px;
    left: 15px;
  }
  #gt-news .svg-15 {
    position: absolute;
    top: 110px;
    left: -20px;
  }
}
