#gtns {
  position: relative;
  z-index: 1;
}
#gtns path {
  fill: #df5411;
}
#gtns h2 {
  color: black;
  position: absolute;
  top: -70px;
  left: 155px;
}
#gtns h2 a {
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}
#gtns .svg-1 {
  position: absolute;
  top: -90px;
  left: 40px;
}
#gtns .svg-2 {
  position: absolute;
  left: 88px;
}

#gtns .svg-3 {
  position: absolute;
  left: 106px;
  top: 15px;
}

#gtns .svg-4 {
  position: absolute;
  left: 136px;
  top: 18px;
}
#gtns .svg-5 {
  position: absolute;
  left: 166px;
  top: 18px;
}

#gtns .svg-6 {
  position: absolute;
  left: 195px;
  top: 18px;
}

#gtns .svg-7 {
  position: absolute;
  left: 225px;
  top: 18px;
}

#gtns .svg-8 {
  position: absolute;
  left: 258px;
  top: 18px;
}

#gtns .svg-9 {
  position: absolute;
  left: 295px;
  top: 18px;
}

#gtns .svg-10 {
  position: absolute;
  left: 325px;
  top: 25px;
}

#gtns .svg-11 {
  position: absolute;
  left: 361px;
  top: 43px;
}

#gtns .svg-12 {
  position: absolute;
  left: 341px;
  top: 75px;
}

@media only screen and (max-width: 480px) {
  #gtns h2 {
    color: black;
    position: absolute;
    top: -50px;
    left: 80px;
  }
  #gtns h2 a {
    color: #000;
    font-family: "Poppins", sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }
  #gtns .svg-1 {
    position: absolute;
    top: -78px;
    left: 15px;
  }
  #gtns .svg-2 {
    position: absolute;
    top: -8px;
    left: 47px;
  }
  #gtns .svg-3 {
    position: absolute;
    top: 2px;
    left: 60px;
  }
  #gtns .svg-4 {
    position: absolute;
    top: 4px;
    left: 75px;
  }
  #gtns .svg-5 {
    position: absolute;
    top: 4px;
    left: 92px;
  }

  #gtns .svg-6 {
    position: absolute;
    top: 4px;
    left: 105px;
  }
  #gtns .svg-7 {
    position: absolute;

    top: 3px;
    left: 122px;
  }
  #gtns .svg-7 {
    position: absolute;

    top: 3px;
    left: 122px;
  }

  #gtns .svg-8 {
    position: absolute;

    top: 3px;
    left: 140px;
  }

  #gtns .svg-9 {
    position: absolute;

    top: 4px;
    left: 158px;
  }

  #gtns .svg-10 {
    position: absolute;
    top: 7px;
    left: 176px;
  }
  #gtns .svg-11 {
    position: absolute;
    top: 17px;
    left: 192px;
  }

  #gtns .svg-12 {
    position: absolute;
    top: 23px;
    left: 175px;
  }
}
