#intro {
  position: relative;
}
/* #intro path {
  fill: red;
} */

#intro h2 {
  position: absolute;
  top: 827px;
  left: 210px;
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

#intro h2 a {
  text-decoration: none;
  color: black;
}

#intro .svg-1 {
  position: absolute;
  top: 882px;
  left: 355px;
}

#intro .svg-2 {
  position: absolute;
  top: 902px;
  left: 325px;
}

#intro .svg-3 {
  position: absolute;
  top: 910px;
  left: 293px;
}

#intro .svg-4 {
  position: absolute;
  top: 910px;
  left: 258px;
}

#intro .svg-5 {
  position: absolute;
  top: 910px;
  left: 221px;
}

#intro .svg-6 {
  position: absolute;
  top: 910px;
  left: 191px;
}

#intro .svg-7 {
  position: absolute;
  top: 910px;
  left: 152px;
}

#intro .svg-8 {
  position: absolute;
  top: 910px;
  left: 116px;
}

#intro .svg-9 {
  position: absolute;
  top: 910px;
  left: 96px;
}

#intro .svg-10 {
  position: absolute;
  top: 911px;
  left: 85px;
}

#intro .svg-11 {
  position: absolute;
  top: 915px;
  left: 51px;
}

#intro .svg-12 {
  position: absolute;
  top: 940px;
  left: 25px;
}

#intro .svg-13 {
  position: absolute;
  top: 972px;
  left: -13px;
}

@media only screen and (max-width: 767px) {
  #intro h2 {
    top: 440px;
    left: 85px;
    font-size: 13px;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #intro .svg-1 {
    position: absolute;
    top: 462px;
    left: 192px;
  }
  #intro .svg-2 {
    position: absolute;
    top: 475px;
    left: 177px;
  }
  #intro .svg-3 {
    position: absolute;
    top: 479px;
    left: 158px;
  }
  #intro .svg-4 {
    position: absolute;
    top: 479px;
    left: 140px;
  }
  #intro .svg-5 {
    position: absolute;
    top: 479px;
    left: 120px;
  }
  #intro .svg-6 {
    position: absolute;
    top: 479px;
    left: 120px;
  }
  #intro .svg-6 {
    position: absolute;
    top: 479px;
    left: 102px;
  }
  #intro .svg-7 {
    position: absolute;
    top: 479px;
    left: 82px;
  }
  #intro .svg-8 {
    position: absolute;
    top: 479px;
    left: 70px;
  }
  #intro .svg-9 {
    position: absolute;
    top: 479px;
    left: 55px;
  }
  #intro .svg-10 {
    position: absolute;
    top: 479px;
    left: 50px;
  }
  #intro .svg-11 {
    position: absolute;
    top: 484px;
    left: 28px;
  }

  #intro .svg-12 {
    position: absolute;
    top: 494px;
    left: 15px;
  }
  #intro .svg-13 {
    position: absolute;
    top: 496px;
    left: -15px;
  }
}
