#intro2 {
  position: relative;
}
#intro2 path {
  fill: red;
}

#intro2 h2 {
  position: absolute;
  top: 1005px;
  left: 95px;
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

#intro2 h2 a {
  text-decoration: none;
  color: black;
}

#intro2 .svg-1 {
  position: absolute;
  top: 1065px;
  left: 24px;
}

#intro2 .svg-2 {
  position: absolute;
  top: 1085px;
  left: 54px;
}

#intro2 .svg-3 {
  position: absolute;
  top: 1092px;
  left: 84px;
}

#intro2 .svg-4 {
  position: absolute;
  top: 1092px;
  left: 84px;
}

#intro2 .svg-5 {
  position: absolute;
  top: 1092px;
  left: 120px;
}

#intro2 .svg-6 {
  position: absolute;
  top: 1092px;
  left: 155px;
}
#intro2 .svg-7 {
  position: absolute;
  top: 1092px;
  left: 187px;
}

#intro2 .svg-8 {
  position: absolute;
  top: 1092px;
  left: 225px;
}

#intro2 .svg-9 {
  position: absolute;
  top: 1092px;
  left: 255px;
}

#intro2 .svg-10 {
  position: absolute;
  top: 1093px;
  left: 266px;
}
#intro2 .svg-11 {
  position: absolute;
  top: 1093px;
  left: 266px;
}
#intro2 .svg-11 {
  position: absolute;
  top: 1093px;
  left: 296px;
}

#intro2 .svg-12 {
  position: absolute;
  top: 1100px;
  left: 330px;
}
#intro2 .svg-13 {
  position: absolute;
  top: 1120px;
  left: 358px;
}

#intro2 .svg-14 {
  position: absolute;
  top: 1153px;
  left: 330px;
}

@media only screen and (max-width: 480px) {
  #intro2 h2 {
    top: 535px;
    left: 50px;
    font-size: 13px;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #intro2 .svg-1 {
    position: absolute;
    top: 562px;
    left: 15px;
  }
  #intro2 .svg-2 {
    position: absolute;
    top: 572px;
    left: 30px;
  }
  #intro2 .svg-3 {
    position: absolute;
    top: 575px;
    left: 47px;
  }
  #intro2 .svg-4 {
    position: absolute;
    top: 575px;
    left: 65px;
  }
  #intro2 .svg-5 {
    position: absolute;
    top: 575px;
    left: 85px;
  }
  #intro2 .svg-6 {
    position: absolute;
    top: 575px;
    left: 105px;
  }
  #intro2 .svg-7 {
    position: absolute;
    top: 575px;
    left: 120px;
  }
  #intro2 .svg-8 {
    position: absolute;
    top: 575px;
    left: 140px;
  }
  #intro2 .svg-9 {
    position: absolute;
    top: 575px;
    left: 155px;
  }

  #intro2 .svg-10 {
    position: absolute;
    top: 575px;
    left: 160px;
  }
  #intro2 .svg-11 {
    position: absolute;
    top: 586px;
    left: 160px;
    display: none;
  }
  #intro2 .svg-12 {
    position: absolute;
    top: 580px;
    left: 175px;
  }
  #intro2 .svg-13 {
    position: absolute;
    top: 590px;
    left: 190px;
  }
  #intro2 .svg-14 {
    position: absolute;
    top: 595px;
    left: 175px;
  }
}
