#nad {
  position: relative;
}
/* #nad path {
  fill: red;
} */

#nad h2 {
  position: absolute;
  top: 1190px;
  left: 175px;
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

#nad h2 a {
  text-decoration: none;
  color: black;
}

#nad .svg-1 {
  position: absolute;
  top: 1065px;
  left: 24px;
}
#nad .svg-1 {
  position: absolute;
  top: 1230px;
  left: 377px;
}
#nad .svg-2 {
  position: absolute;
  top: 1255px;
  left: 358px;
}
#nad .svg-3 {
  position: absolute;
  top: 1269px;
  left: 325px;
}
#nad .svg-4 {
  position: absolute;
  top: 1275px;
  left: 305px;
}
#nad .svg-5 {
  position: absolute;
  top: 1276px;
  left: 295px;
}

#nad .svg-6 {
  position: absolute;
  top: 1276px;
  left: 261px;
}

#nad .svg-7 {
  position: absolute;
  top: 1276px;
  left: 221px;
}
#nad .svg-8 {
  position: absolute;
  top: 1276px;
  left: 190px;
}
#nad .svg-9 {
  position: absolute;
  top: 1276px;
  left: 155px;
}

#nad .svg-10 {
  position: absolute;
  top: 1276px;
  left: 117px;
}
#nad .svg-11 {
  position: absolute;
  top: 1276px;
  left: 80px;
}

#nad .svg-12 {
  position: absolute;
  top: 1285px;
  left: 50px;
}
#nad .svg-13 {
  position: absolute;
  top: 1300px;
  left: 25px;
}

#nad .svg-14 {
  position: absolute;
  top: 1328px;
  left: -15px;
}

@media only screen and (max-width: 767px) {
  #nad h2 {
    top: 630px;
    left: 52px;
    font-size: 13px;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #nad .svg-1 {
    position: absolute;
    top: 650px;
    left: 199px;
  }
  #nad .svg-2 {
    position: absolute;
    top: 665px;
    left: 190px;
  }
  #nad .svg-3 {
    position: absolute;
    top: 671px;
    left: 175px;
  }

  #nad .svg-4 {
    position: absolute;
    top: 674px;
    left: 162px;
  }
  #nad .svg-5 {
    position: absolute;
    top: 674px;
    left: 156px;
  }
  #nad .svg-5 {
    position: absolute;
    top: 674px;
    left: 140px;
  }
  #nad .svg-6 {
    position: absolute;
    top: 674px;
    left: 122px;
  }
  #nad .svg-7 {
    position: absolute;
    top: 674px;
    left: 102px;
  }
  #nad .svg-8 {
    position: absolute;
    top: 674px;
    left: 85px;
  }
  #nad .svg-9 {
    position: absolute;
    top: 674px;
    left: 65px;
  }
  #nad .svg-10 {
    position: absolute;
    top: 674px;
    left: 48px;
  }
  #nad .svg-11 {
    position: absolute;
    top: 674px;
    left: 48px;
  }
  #nad .svg-12 {
    position: absolute;
    top: 678px;
    left: 28px;
  }
  #nad .svg-13 {
    position: absolute;
    top: 690px;
    left: 15px;
  }

  #nad .svg-14 {
    position: absolute;
    top: 690px;
    left: -15px;
  }
}
