#ptt {
  position: relative;
}
#ptt path {
  fill: red;
}

#ptt h2 {
  position: absolute;
  top: 1368px;
  left: 94px;
  color: #000;
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

#ptt h2 a {
  text-decoration: none;
  color: black;
}

#ptt .svg-1 {
  position: absolute;
  top: 1400px;
  left: 10px;
}

#ptt .svg-2 {
  position: absolute;
  top: 1432px;
  left: 25px;
}

#ptt .svg-3 {
  position: absolute;
  top: 1452px;
  left: 50px;
}

#ptt .svg-4 {
  position: absolute;
  top: 1458px;
  left: 85px;
}

#ptt .svg-5 {
  position: absolute;
  top: 1458px;
  left: 117px;
}

#ptt .svg-6 {
  position: absolute;
  top: 1458px;
  left: 155px;
}

#ptt .svg-7 {
  position: absolute;
  top: 1458px;
  left: 187px;
}

#ptt .svg-8 {
  position: absolute;
  top: 1458px;
  left: 215px;
}

#ptt .svg-9 {
  position: absolute;
  top: 1458px;
  left: 248px;
}

#ptt .svg-10 {
  position: absolute;
  top: 1458px;
  left: 282px;
}

#ptt .svg-11 {
  position: absolute;
  top: 1466px;
  left: 318px;
}

#ptt .svg-12 {
  position: absolute;
  top: 1485px;
  left: 350px;
}

#ptt .svg-13 {
  position: absolute;
  top: 1520px;
  left: 316px;
}

@media only screen and (max-width: 480px) {
  #ptt h2 {
    top: 730px;
    left: 50px;
    font-size: 13px;
  }

  #ptt .svg-1 {
    position: absolute;
    top: 745px;
    left: 8px;
  }
  #ptt .svg-2 {
    position: absolute;
    top: 758px;
    left: 15px;
  }
  #ptt .svg-3 {
    position: absolute;
    top: 768px;
    left: 30px;
  }
  #ptt .svg-4 {
    position: absolute;
    top: 772px;
    left: 47px;
  }
  #ptt .svg-5 {
    position: absolute;
    top: 772px;
    left: 65px;
  }
  #ptt .svg-6 {
    position: absolute;
    top: 772px;
    left: 85px;
  }
  #ptt .svg-7 {
    position: absolute;
    top: 772px;
    left: 100px;
  }

  #ptt .svg-8 {
    position: absolute;
    top: 772px;
    left: 115px;
  }
  #ptt .svg-9 {
    position: absolute;
    top: 772px;
    left: 135px;
  }
  #ptt .svg-10 {
    position: absolute;
    top: 772px;
    left: 153px;
  }
  #ptt .svg-11 {
    position: absolute;
    top: 775px;
    left: 173px;
  }
  #ptt .svg-12 {
    position: absolute;
    top: 785px;
    left: 186px;
  }
  #ptt .svg-13 {
    position: absolute;
    top: 785px;
    left: 175px;
  }
}
