#wdl3 {
  position: relative;
}

#wdl3 .svg-1 {
  position: absolute;
  top: 1949px;
  left: 370px;
}

#wdl3 .svg-2 {
  position: absolute;
  top: 1976px;
  left: 350px;
}

#wdl3 .svg-3 {
  position: absolute;
  top: 1989px;
  left: 320px;
}

#wdl3 .svg-4 {
  position: absolute;
  top: 1995px;
  left: 293px;
}
#wdl3 .svg-5 {
  position: absolute;
  top: 1996px;
  left: 290px;
}

#wdl3 .svg-6 {
  position: absolute;
  top: 1996px;
  left: 250px;
}

#wdl3 .svg-7 {
  position: absolute;
  top: 1996px;
  left: 216px;
}

#wdl3 .svg-8 {
  position: absolute;
  top: 1996px;
  left: 181px;
}

#wdl3 .svg-9 {
  position: absolute;
  top: 1996px;
  left: 151px;
}

#wdl3 .svg-10 {
  position: absolute;
  top: 1996px;
  left: 111px;
}

#wdl3 .svg-11 {
  position: absolute;
  top: 1996px;
  left: 75px;
}

#wdl3 .svg-12 {
  position: absolute;
  top: 2005px;
  left: 45px;
}

#wdl3 .svg-13 {
  position: absolute;
  top: 2025px;
  left: 16px;
}

#wdl3 .svg-14 {
  position: absolute;
  top: 2057px;
  left: -20px;
}

#wdl3 .svg-15 {
  position: absolute;
  top: 2147px;
  left: 18px;
}

#wdl3 .svg-16 {
  position: absolute;
  top: 2170px;
  left: 44px;
}

#wdl3 .svg-17 {
  position: absolute;
  top: 2180px;
  left: 76px;
}

#wdl3 .svg-18 {
  position: absolute;
  top: 2180px;
  left: 116px;
}

#wdl3 .svg-19 {
  position: absolute;
  top: 2180px;
  left: 146px;
}
#wdl3 .svg-20 {
  position: absolute;
  top: 2180px;
  left: 186px;
}

@media only screen and (max-width: 767px) {
  #wdl3 .svg-1 {
    top: 1030px;
    left: 195px;
  }
  #wdl3 .svg-2 {
    top: 1045px;
    left: 187px;
  }
  #wdl3 .svg-3 {
    top: 1053px;
    left: 173px;
  }

  #wdl3 .svg-4 {
    top: 1056px;
    left: 161px;
  }
  #wdl3 .svg-5 {
    top: 1057px;
    left: 155px;
  }
  #wdl3 .svg-6 {
    top: 1057px;
    left: 138px;
  }
  #wdl3 .svg-7 {
    top: 1057px;
    left: 118px;
  }
  #wdl3 .svg-8 {
    top: 1057px;
    left: 100px;
  }
  #wdl3 .svg-9 {
    top: 1057px;
    left: 80px;
  }
  #wdl3 .svg-10 {
    top: 1057px;
    left: 60px;
  }
  #wdl3 .svg-11 {
    top: 1057px;
    left: 43px;
  }
  #wdl3 .svg-12 {
    top: 1060px;
    left: 23px;
  }
  #wdl3 .svg-13 {
    top: 1070px;
    left: 12px;
  }
  #wdl3 .svg-14 {
    top: 1075px;
    left: -15px;
  }
  #wdl3 .svg-15 {
    top: 1137px;
    left: 8px;
  }
  #wdl3 .svg-16 {
    top: 1151px;
    left: 24px;
  }
  #wdl3 .svg-17 {
    top: 1155px;
    left: 44px;
  }
  #wdl3 .svg-18 {
    top: 1155px;
    left: 64px;
  }
  #wdl3 .svg-19 {
    top: 1155px;
    left: 80px;
  }
  #wdl3 .svg-20 {
    top: 1155px;
    left: 95px;
  }
}
